<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%= @the_photo.image %>">
  </dd>

  <dt>Caption</dt>
  <dd>
    <p><%= @the_photo.caption %></p>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%= @the_photo.owner.username %>
  </dd>

  <dt>Posted</dt>
  <dd>
    <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>Likes count</dt>
  <dd>
    <%= @the_photo.likes_count %>
  </dd>

  <dt>Comments count</dt>
  <dd>
    <%= @the_photo.comments_count %>
  </dd>

  <dt> Fans </dt>
  <dd>
    <% @the_photo.fans.each do |a_fan| %>
    <%= a_fan.username %>
    <% end %>
  </dd>

   <dt> Add a fans </dt>
   <dd>
    <% current_user_fan_record = Like.where({ :photo_id => @the_photo.id, :fan_id => @current_user.id }) %>
    <% current_user_is_fan = current_user_fan_record.at(0) %>
    <% if current_user_is_fan == nil %>
    <form action="/insert_like" method="post">
      <input type="hidden" value="<% @the_photo.id %>" name="query_photo_id">
      <input type="hidden" value="<% @current_user.id %>" name="query_fan_id">
      <button>
        Like
      </button>
    </form>
    <% else %>
      <a href="/delete_like/<%= current_user_is_fan.id  %>">Unlike</a>
    <% end %>
   </dd>



  </dl>





